.faq-main{
  margin-top: 6rem;
  height: 100vh;
  .faq-page {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    h1 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    .faq-list {
      .faq-item {
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        .faq-question {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem;
          background-color: #f7f7f7;
          cursor: pointer;
          h2 {
            margin: 0;
            font-size: 1.25rem;
          }
          span {
            font-size: 1.5rem;
          }
        }
        .faq-answer {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out, padding 0.3s ease-out;
          padding: 0 1rem;
          p {
            margin: 0;
            padding: 1rem 0;
          }
          &.open {
            max-height: 100px;
            transition: max-height 0.3s ease-in, padding 0.3s ease-in;
          }
        }
      }
    }
  }
}