.orders-table {
  border-radius: 8px;
  height: 100%;
  .orders-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .table-wrapper {
    overflow-x: auto;
    max-height:28rem;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      padding: 12px;
      min-width: 120px;
      display: table-cell;
      white-space: nowrap;
      width: auto;
    }
    th {
      font-size: 14px;
      font-weight: 600;
      color: #666;
      border-bottom: 2px solid #eaeaea;
    }
    td {
      font-size: 14px;
      color: #444;
      border-bottom: 1px solid #eaeaea;
      text-align: center;
    }
    .order-link {
      color: #007bff;
      font-weight: 500;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .order-options{
      display: flex;
      justify-content: center;
      gap: 10px;
      .del-button{
        background-color: transparent;
        padding: 8px 16px;
        border-radius: 6px;
        cursor: pointer;
        svg {
          font-size: 20px;
          color: #bd0000;
        }
      }
      .view-button {
        background: #000;
        color: #fff;
        padding: 8px 16px;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
        transition: background 0.3s;
        &:hover {
          background: #222;
        }
      }
    }
  }
  .no-units {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    h2 {
      color: #333;
      font-weight: bold;
      font-size: 35px;
    }
  }
}
