  section.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    width: 100%;
    header.title {
      display: flex;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 60px;
        color: #000;
      }
      .charts {
        display: flex;
        align-items: center;
        gap: 30px;
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: var(--text-color);
          span:first-child {
            font-size: 40px;
            font-weight: bold;
          }
          span:last-child {
            font-size: 20px;
          }
        }
      }
    }
    .mySwiper {
      width: 100%;
      padding: 0 1rem;
      .swiper-wrapper {
        padding: 0 0 2rem 0;
      }
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
      }
      .swiper-pagination-bullet-active {
        background: var(--dark-primary-color);
      }
      .swiper-slide {
        height: auto !important;
      }
      .slide-content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 100%;
        .content {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          // justify-content: space-between;
          gap: 5px;
          height: 100%;
          background-color: #fff;
          border-radius: 15px;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
          // border: 1px solid var(--primary-color);
          section.user-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .user {
              display: flex;
              gap: 5px;
              align-items: center;
              color: #000;
              img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
              }
              h3{
                font-weight: bold;
              }
            }
            .rate {
              display: flex;
              gap: 5px;
              align-items: center;
              background-color: var(--primary-color);
              border-radius: 8px;
              padding: 1px 20px;
              svg {
                font-size: 20px;
                color: #f1c40f;
              }
              span {
                font-size: 20px;
                color: #ffffff;
                font-weight: bold;
              }
            }
          }
          .review {
            font-size: 20px;
            color: var(--text-color);
          }
        }
      }
    }
    @media (max-width: 1200px) {
      header.title {
        h2 {
          font-size: 50px;
        }
        .charts p span:first-child {
          font-size: 35px;
        }
        .charts p span:last-child {
          font-size: 18px;
        }
      }
      .slide-content .content {
        .review {
          font-size: 18px;
        }
        .rate span {
          font-size: 18px;
        }
        .rate svg {
          font-size: 18px;
        }
      }
    }
    @media (max-width: 768px) {
      header.title {
        h2 {
          font-size: 40px;
        }
        .charts p span:first-child {
          font-size: 30px;
        }
        .charts p span:last-child {
          font-size: 16px;
        }
      }
      .slide-content .content {
        .review {
          font-size: 16px;
        }
        .rate span {
          font-size: 16px;
        }
        .rate svg {
          font-size: 16px;
        }
      }
    }
    @media (max-width: 480px) {
      header.title {
        h2 {
          font-size: 30px;
        }
        .charts p span:first-child {
          font-size: 25px;
        }
        .charts p span:last-child {
          font-size: 14px;
        }
      }
      .slide-content .content {
        .review {
          font-size: 14px;
        }
        .rate span {
          font-size: 14px;
        }
        .rate svg {
          font-size: 14px;
        }
      }
    }
  }