.unit-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 22px;
  max-width: 270px;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 12px 0 #00000047;
  .sold_out{
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 22px;
    background-color: red;
    padding: 5px 12px;
    color: #fff;
  }
  img{
    width: 100%;
    height: 35%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow:  0 3px 4px #0000000d;
  }
  .content{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
  }
  h1{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    .label {
      font-size: 16px;
      font-weight: normal;
    }
  }
  .price{
    color: var(--primary-color);
    font-size: 20px;
    .price-type{
      font-size: 15px;
      color: var(--text-color);
    }
  }
  .btns {
    display: flex;
    justify-content: space-around;
    button.see_more {
      border-radius: 16px;
      width: fit-content;
      align-self:center ;
      background-color: transparent;
      border: 1px solid #333;
      font-size: 18px;
      padding: 5px 20px;
      color: #333;
      cursor: pointer;
      &:hover {
        background-color: var(--dark-primary-color);
        color: #ccc;
      }        
    }
  }
}
@media(max-width: 1350px){
  .unit-card{
    max-width:270px;
    h1{
      font-size: 16px;
      .label {
        font-size: 14px;
      }
    }
    button.see_more{
      font-size: 14px;
      padding: 2px 15px;
      border-radius: 8px;
    }
  }
}
@media(max-width: 768px){
  .unit-card{
    max-width: 100%;
    h1{
      font-size: 16px;
      .label {
        font-size: 14px;
      }
    }
    button.see_more{
      font-size: 14px;
      padding: 2px 15px;
      border-radius: 8px;
    }
  }
}
