section.why-us {
  // background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 3rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
  .title {
    position: relative;
    font-size: 40px;
    margin-top: 1rem;
    font-weight: bold;
    color: var(--dark-primary-color);
    &::before{
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--primary-color);
      top: 50%;
      right: -40px;
      transform: translateX(-50%);
    }
    &::after{
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--primary-color);
      top: 50%;
      left: -35px;
      transform: translateX(-50%);
    }
  }
  h3 {
    font-size: 25px;
    color: rgb(107, 78, 48);
  }
  .cols-container {
    display: flex;
    gap: 25px;
    align-items: center;
    width: 100%;
    height: 320px;
    margin-top: 2rem;
    .col {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 14px;
      justify-content: space-between;
      padding: 45px 10px 10px 10px;
      box-shadow: 0px 0px 12px 0 #00000036;
      // background: linear-gradient(rgb(78 52 38 / 53%), transparent);
      cursor: pointer;
      .icon{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        // right: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        color: var(--dark-primary-color);
        padding: 8px;
        font-size: 30px;
        background-color: #8a725d82;
        border: 1px solid #8a725d82;
        border-radius: 40%;
        box-shadow: inset 0 0 0 3px #e6e6e6;
        height: 60px;
        padding: 1px;
        width: 60px;
      }
      h1 {
        font-size: 20px;
        font-weight: 900;
        color: var(--dark-primary-color);
      }
      span {
        font-size: 20px;
        font-weight: 600;
        color: rgb(107, 78, 48);
      }
      .arrow {
        font-size: 50px;
        color: #8a725d93;
        background-color: transparent;
      }
    }
  }
  @media (max-width: 1200px) {
    h1 {
      font-size: 50px;
    }
    h3 {
      font-size: 25px;
    }
    .cols-container {
      // height: auto;
      // flex-direction: column;
      padding: 2rem 0;
      overflow-x: auto;
      .col {
        min-width: 300px;
        // width: 100%;
        // max-width: 600px;
        // margin-bottom: 20px;
        gap: 12px;
        h1 {
          font-size: 18px;
        }
        span {
          font-size: 18px;
        }
        .arrow {
          font-size: 30px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 3rem 2rem;
    gap: 0;
    .title {
      font-size: 35px;
    }
    h3 {
      font-size: 20px;
    }
    .col {
      gap: 12px;
      h1 {
        font-size: 16px;
      }
      span {
        font-size: 16px;
      }
      .arrow {
        font-size: 30px;
      }
    }
  }
  @media (max-width: 480px) {
    padding: 3rem 2rem;
    h3 {
      font-size: 18px;
    }
    .col {
      gap: 12px;
      h1 {
        font-size: 14px;
      }
      span {
        font-size: 14px;
      }
      .arrow {
        font-size: 30px;
      }
    }
  }
}